<div [class]="hamburder_icon_box" (click)="toggle_menu()">
  <span class="part_hamburder"></span>
  <span class="part_hamburder"></span>
  <span class="part_hamburder"></span>
</div>
<ul class="dropdown_menu" [hidden]="toggle_dropdown_menu">
  <li (click)="user_home()">
    <a>
      {{ 'hamburger_menu.my_page' | translate }}
    </a>
  </li>
  <li>
    <a>
      {{ 'hamburger_menu.messages' | translate }}
    </a>
  </li>
  <li>
    <a>
      {{ 'hamburger_menu.friends' | translate }}
    </a>
  </li>
  <li>
    <a>
      {{ 'hamburger_menu.settings' | translate }}
    </a>
  </li>
  <li (click)="user_exit()">
    <a>
      {{ 'hamburger_menu.exit' | translate }}
    </a>
  </li>
</ul>
