<div [class]="hamburder_icon_box" (click)="toggle_menu()">
  <span class="part_hamburder"></span>
  <span class="part_hamburder"></span>
  <span class="part_hamburder"></span>
</div>
<ul class="dropdown_menu" [hidden]="toggle_dropdown_menu">
  <li>
    <a>
      Моя страница
    </a>
  </li>
  <li>
    <a>
      Сообщения
    </a>
  </li>
  <li>
    <a>
      Друзья
    </a>
  </li>
  <li>
    <a (click)="user_exit()">
      Выход
    </a>
  </li>
</ul>
<!--<div class="menu">
  <nav>
    
  </nav>
</div>-->