<div class="container body_page">
  <div class="row">
    <div class="col-md-1">
      <div class="menu_page">
        test menu
      </div>
    </div>
    <div class="col-md-1" style="width: 230px;">
      <div class="photo_page">
      </div>
      <div class="friends_page">
        test friends
      </div>
    </div>
    <div class="col-md-1">
      <div class="info_page">
        test info
      </div>
      <div class="wall_page">
        test wall
      </div>
    </div>
  </div>
</div>
