@import "fragments/frag_main.scss";

.auth_form {
  width: map-get($params_forms, auth_form_width);
  margin: auto;
}
.auth_form .login_form {
  width: map-get($params_forms, auth_form_width);
  margin: -50px auto auto auto;
  @extend %for_forms;
}
.auth_form .login_form input {
  width: map-get($params_forms, auth_form_input_width);;
  @extend %for_inputs;
}

.auth_form .login_form input:focus {
  opacity: map-get($params_forms, hover_opacity);
}

.auth_form .login_form .st_button {
  width: map-get($params_forms, auth_form_login_button_width);
  @extend %for_buttons;
}

.auth_form .login_form .st_button:hover {
  background-color: map-get($params_forms, button_hover_color);
}

.auth_form .reg_form {
  width: map-get($params_forms, auth_form_width);
  margin: 10px auto auto auto;
  @extend %for_forms;
}
.auth_form .reg_form input {
  width: map-get($params_forms, auth_form_input_width);;
  @extend %for_inputs;
}

.auth_form .reg_form input:focus {
  opacity: map-get($params_forms, hover_opacity);
}

.auth_form .reg_form .st_button {
  width: map-get($params_forms, auth_form_reg_button_width);
  @extend %for_buttons;
}

.auth_form .reg_form .st_button:hover {
  background-color: map-get($params_forms, button_hover_color);
}
