.im_submit_send_label {
  font-size: 14px;
  padding: 8px;
  outline: none;
  border: none;
  color: #ffffff;
  background-color: #5682a3;
  line-height: 20px;
  border-radius: 3px;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out; }

.body_page {
  height: 100%;
  background-color: #fff;
  margin: -230px auto auto auto; }

.body_page .wall_page {
  padding: 0 0 0 20px;
  border-left: 1px solid #e3e4e8;
  overflow-y: hidden;
  min-height: 700px; }

.body_page .container:nth-child(1) {
  background: #5682a3; }

.body_page .container:nth-child(2) {
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8; }

.body_page .container:nth-child(2) .col-xs-3 {
  width: 200px; }

.photo_page .avatar {
  min-width: 200px;
  max-width: 200px;
  width: 200px;
  min-height: 230px; }

.avatar img {
  max-width: 200px; }

.menu_page {
  color: #fff;
  padding: 17px 20px 15px 22px;
  display: block;
  font-size: 14px;
  line-height: 16px; }

.hamburder_icon_box {
  cursor: pointer;
  display: inline-block;
  width: 18px;
  height: 14px; }

.hamburder_icon_box .part_hamburder {
  background: #fff;
  display: block;
  height: 2px;
  margin: 0;
  -webkit-transition: -webkit-transform 0.1s ease-in;
  -o-transition: -o-transform 0.1s ease;
  -ms-transition: -ms-transform 0.1s ease;
  -moz-transition: -moz-transform 0.1s ease;
  transition: transform 0.1s ease-in;
  -webkit-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

.hamburder_icon_box .part_hamburder:nth-child(2) {
  margin-bottom: 4px;
  margin-top: 4px; }

.hamburder_icon_box.open .part_hamburder:nth-child(1) {
  -webkit-transform: translate3d(0, 6px, 0) rotate(45deg);
  -moz-transform: translate3d(0, 6px, 0) rotate(45deg);
  -o-transform: translate3d(0, 6px, 0) rotate(45deg);
  -ms-transform: translate3d(0, 6px, 0) rotate(45deg);
  transform: translate3d(0, 6px, 0) rotate(45deg); }

.hamburder_icon_box.open .part_hamburder:nth-child(2) {
  opacity: 0; }

.hamburder_icon_box.open .part_hamburder:nth-child(3) {
  -webkit-transform: translate3d(0, -6px, 0) rotate(-45deg);
  -moz-transform: translate3d(0, -6px, 0) rotate(-45deg);
  -o-transform: translate3d(0, -6px, 0) rotate(-45deg);
  -ms-transform: translate3d(0, -6px, 0) rotate(-45deg);
  transform: translate3d(0, -6px, 0) rotate(-45deg); }

.dropdown_menu {
  position: absolute;
  top: 92%;
  left: 2%;
  z-index: 1000;
  float: left;
  width: 215px;
  min-width: 160px;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-clip: padding-box;
  padding: 10px; }

.dropdown_menu li {
  cursor: pointer;
  padding: 10px; }

.dropdown_menu li > a {
  text-decoration: none; }

.dropdown_menu li:hover {
  background: #f2f6fa; }

.composer_rich_textarea {
  position: relative;
  word-wrap: break-word;
  box-shadow: 0 1px 0 0 #e8e8e8;
  min-height: 30px;
  width: 200px;
  border: 0;
  outline: none;
  padding: 0 5px 0 5px;
  margin: 10px 0 10px 0; }

.composer_rich_textarea textarea {
  display: none; }

.composer_rich_textarea:focus {
  border: 0;
  outline: none;
  box-shadow: 0 2px 0 0 #77b7e4; }

.composer_rich_textarea[contenteditable=true]:empty:before {
  content: attr(placeholder);
  color: #9aa2ab;
  display: block; }

.im_submit_send_label {
  width: 150px; }

.im_submit_send_label:hover {
  background-color: #1596d6; }

.im_history_wrap {
  position: relative;
  word-wrap: break-word;
  max-width: 100%; }

.im_content_message_wrap {
  margin: 8px 10px 8px 16px; }

.im_message_wrap {
  position: relative;
  padding: 5px; }

.im_message_body {
  overflow: hidden; }

.im_message_from_photo {
  margin: 0 15px 0 0; }

.im_message_from_photo img {
  width: 42px;
  height: 42px;
  border-radius: 3px; }

.im_message_author {
  color: #3a6d99;
  font-weight: bold; }

.im_message_date {
  color: #adadad;
  font-size: 11px;
  padding: 0 0 20px 10px; }

/*# sourceMappingURL=page.css.map */
